html {
  font-family: calibri, Lucia Grande, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  max-width: 330px;
  background-color: whitesmoke;
  margin: 0px auto;
}

h1 {
  font-size: 1rem;
  color: #263585;
}

.fas {
  color: white;
}

header {
  background-size: cover;
  max-width: 330px;
  background: linear-gradient(45deg, #216eb8, #263585);
  padding-bottom: 1rem;
}

.l-nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-logo-wrapper {
  background-color: white;
  border-radius: 0 0 10% 10%;
  height: 3.5rem;
  width: 5rem;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-logo {
  background-image: url("../images/inforshop.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 4rem;
}

.l-nav-menu-wrapper {
  background-color: #263585;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.l-nav-burger {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-bars {
  color: #e37823;
  font-size: 1.5rem;
}

.fa-bars:hover {
  color: white;
}

.l-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-icons-account, .l-nav-icons-cart {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-nav-icons p {
  font-size: 0.7rem;
  margin: 0;
}

.l-nav-search {
  background-color: white;
  margin: 1rem 1rem 0 1rem;
  height: 1.5rem;
  padding-top: 0.4rem;
}

.fa-search {
  color: #918e8e;
}

.l-nav-search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-search-wrapper input, i {
  border: 0;
  color: #918e8e;
  margin: auto;
}

footer {
  background-size: cover;
  max-width: 330px;
  background: linear-gradient(45deg, #216eb8, #263585);
  padding-bottom: 1rem;
}

.l-footer p {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 1.5rem;
  color: white;
}

.l-main-ariane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.l-main-ariane-block, .l-main-ariane-icon {
  background-color: white;
  height: 2rem;
  width: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fa-home {
  color: #918e8e;
}

.l-main-ariane-block p {
  color: #918e8e;
  font-size: 1rem;
  margin: auto;
}

.l-main-ariane-sign p {
  color: #e37823;
  font-size: 1rem;
  margin: 0 1rem;
}

.l-main-form {
  background-color: white;
  margin: 1rem;
  color: #263585;
}

.l-main-form h1 {
  padding: 1rem;
  color: #263585;
}

.l-main-form-block label {
  display: block;
  padding: 0 1rem;
}

.l-main-form-block input {
  border: 0;
  border-bottom: 1px solid #263585;
  width: 90%;
  padding: 0;
  margin: 0 1rem 1rem 1rem;
}

.l-main-form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem;
}

.l-main-form-button {
  margin: 1rem;
  border: none;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #918e8e;
  color: white;
  font-size: 0.7rem;
  padding: 0 1rem;
}

.fa-check {
  color: white;
  margin: 0 1rem 0 0;
}

.l-nav-tree-closing {
  text-align: end;
  font-size: 2rem;
  margin: 2rem;
}

.fa-times:hover {
  color: #e37823;
}

.l-nav-tree {
  position: fixed;
  left: -150vw;
  top: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #216eb8, #263585);
}

.l-nav-tree li {
  list-style: none;
}

.l-nav-tree ul {
  padding: 4rem 0;
}

.l-nav-tree a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5rem;
  text-align: center;
  margin: 2rem;
}

.l-nav-tree a:hover {
  color: #e37823;
}

.l-nav-tree.is-active {
  left: 0vw;
}
/*# sourceMappingURL=screen.css.map */