html {
  font-family: calibri, Lucia Grande, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  max-width: 330px;
  background-color: whitesmoke;
  margin: 0px auto;
}

h1, h2 {
  font-size: 1rem;
  color: #216eb8;
}

h3 {
  font-size: 0.9rem;
  color: #216eb8;
}

.fas {
  color: white;
}

time {
  font-weight: bold;
}

header {
  background-size: cover;
  max-width: 330px;
  background: linear-gradient(45deg, #216eb8, #263585);
  padding-bottom: 1rem;
}

.l-nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-logo-wrapper {
  background-color: white;
  border-radius: 0 0 10% 10%;
  height: 3.5rem;
  width: 5rem;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-logo {
  background-image: url("../images/inforshop.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 4rem;
}

.l-nav-menu-wrapper {
  background-color: #263585;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.trigger:checked ~ .l-nav-menu-wrapper span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.trigger:checked ~ .l-nav-menu-wrapper span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -8px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.trigger:checked ~ .l-nav-menu-wrapper span:nth-child(2) {
  opacity: 0;
  position: relative;
}

:hover ~ .l-nav-menu-wrapper span {
  background: white;
}

.l-nav-burger {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.l-nav-burger span {
  height: 3px;
  width: 1.5rem;
  margin: 0.15rem;
  background: #e37823;
}

.trigger {
  display: none;
}

.l-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-icons p {
  font-size: 0.7rem;
  margin: 0;
}

.l-nav-icons-account, .l-nav-icons-cart {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-nav-icons-cart {
  position: relative;
}

.l-nav-icons-cart::before {
  content: "0";
  height: 1.25rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: #e37823;
  font-size: 1rem;
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  padding: 0 0 0 0.3rem;
}

.l-nav-search {
  background-color: white;
  margin: 1rem 1rem 0 1rem;
  height: 1.5rem;
  padding-top: 0.4rem;
}

.fa-search {
  color: #918e8e;
}

.l-nav-search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-nav-search-wrapper input, i {
  border: 0;
  color: #918e8e;
  margin: auto;
}

footer {
  background-size: cover;
  max-width: 330px;
  background: linear-gradient(45deg, #216eb8, #263585);
  padding-bottom: 1rem;
}

.l-footer p {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 1.5rem;
  color: white;
}

.l-main-ariane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.l-main-ariane-block, .l-main-ariane-icon {
  background-color: white;
  height: 2rem;
  width: auto;
  padding: 0 1rem;
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fa-home {
  color: #918e8e;
}

.l-main-ariane-block p {
  color: #918e8e;
  font-size: 1rem;
  margin: auto;
}

.l-main-ariane-sign span {
  color: #e37823;
  font-size: 1rem;
  margin: 0 1rem;
}

.l-main-pageIndex {
  padding: 1rem;
}

.l-main-pageIndex span {
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.1rem 0.4rem;
  margin: 0.1rem;
  border: solid 1px #216eb8;
  color: #216eb8;
}

.l-main-pageIndex .l-main-pageIndex-isActive {
  border: solid 1px #e37823;
  color: #e37823;
}

h1 {
  padding: 1rem 0;
}

.l-main-form, .l-main-block {
  background-color: white;
  margin: 1rem;
  padding: 1rem 0 1rem 1rem;
  color: #216eb8;
}

.l-main-form-date {
  margin: 2rem 1rem;
  font-size: 0.9rem;
  text-align: end;
}

.l-main-form-date p {
  color: #918e8e;
}

.l-main-form-date time {
  color: #216eb8;
}

.l-main-form-block {
  padding: 1rem 0;
  position: relative;
  margin: 0 1rem 0 0;
}

.l-main-form-block label {
  display: block;
}

.l-main-form-block input {
  border: 0;
  width: 85%;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  color: #918e8e;
  display: block;
}

.l-main-form-block i {
  width: 1rem;
  height: 1rem;
  color: #216eb8;
  padding: 0;
  margin: 0 0 0 1rem;
}

.l-main-form-block .fa-trash {
  border: 1px solid black;
  border-radius: 15%;
  padding: 0.2rem;
  background-color: whitesmoke;
  color: #3a3939;
}

.l-main-form-block div::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: #216eb8;
  position: absolute;
  bottom: 1rem;
  left: 0rem;
}

.l-main-form-block-icon, .l-main-form-block-connexion {
  padding: 1rem 0;
  position: relative;
  margin: 0 1rem 0 0;
}

.l-main-form-block-icon div::before, .l-main-form-block-connexion div::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: #918e8e;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}

.l-main-form-block-icon input, .l-main-form-block-connexion input {
  border: 0px;
  color: #918e8e;
}

.l-main-form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-main-form-check label {
  color: #918e8e;
}

.l-main-form-range {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-main-form-range input {
  width: 100%;
}

.l-main-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-main-productFiche {
  background-color: white;
  margin: 1rem;
  color: #216eb8;
}

.l-main-productFiche img {
  width: 100%;
}

.l-main-productFiche-features {
  padding: 0 1rem;
}

.l-main-productFiche-features h4 {
  margin: 0;
}

.l-main-productFiche-features p {
  color: #918e8e;
}

.l-main-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main-product-price span {
  color: #e37823;
  font-weight: bold;
}

.l-main-block {
  padding: 1rem;
}

.l-main-block p {
  color: #918e8e;
  font-size: 0.9rem;
}

.l-main-block em {
  font-weight: bold;
}

.l-main-form-totalPrice {
  text-align: end;
  padding: 0 1rem;
}

.l-main-form-totalPrice .l-main-form-totalPrice-label {
  color: #918e8e;
  position: relative;
}

.l-main-form-totalPrice ::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: #918e8e;
  position: absolute;
  bottom: -0.5rem;
  left: 0rem;
}

.l-main-form-totalPrice .l-main-form-totalPrice-amount {
  font-weight: bold;
  position: relative;
}

.l-main-form-totalPrice ::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: whitesmoke;
  position: absolute;
  bottom: -0.5rem;
  left: 0rem;
}

.l-main-form-productDescription-image img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.l-main-form-productDescription-text p, .l-main-form-productDescription-form p {
  color: #918e8e;
  padding-right: 1rem;
}

.l-main-form-productDescription-text p:first-child, .l-main-form-productDescription-form p:first-child {
  color: #e37823;
  font-weight: bold;
  padding: 2rem 0 0 0;
}

.l-main-form-productDescription-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main-form-productDescription-order .l-main-form-block {
  width: 25%;
}

.l-nav-tree {
  position: absolute;
  left: -150vw;
  top: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #216eb8, #263585);
  z-index: 1;
}

.trigger:checked ~ .l-nav-tree {
  left: 0;
}

.l-nav-tree li {
  list-style: none;
}

.l-nav-tree ul {
  padding: 4rem 0;
}

.l-nav-tree a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5rem;
  text-align: center;
  margin: 2rem;
}

.l-nav-tree a:hover {
  color: #e37823;
}

.m-main-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-main-form-button, .m-main-form-buttonSecondary, .m-main-form-buttonThirdary {
  margin: 1rem 1rem 1rem 0;
  border: none;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #918e8e;
  color: white;
  font-size: 0.7rem;
  padding: 0 1rem;
}

.m-main-form-button-send {
  margin: 1rem;
  border: none;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #216eb8;
  color: white;
  font-size: 0.7rem;
  padding: 0 1rem;
}

.m-main-product-button {
  margin: 1rem;
  border: none;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #263585;
  color: white;
  font-size: 0.7rem;
  padding: 0 1rem;
}

.m-main-product-button .fa-shopping-cart {
  padding: 0 1rem 0 0;
}

.fa-check {
  color: white;
  margin: 0 1rem 0 0;
}

.m-main-button-trash {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 15%;
  width: 1.3rem;
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

.m-main-button-trash .fa-trash {
  color: #3a3939;
  padding: 0 auto;
}

.m-main-form-buttonSecondary {
  background-color: #263585;
}

.m-main-form-buttonThirdary {
  background-color: white;
  color: #918e8e;
  border: solid grey 1px;
}

.m-main-form-button-sendOrder {
  margin: 0 0 0 auto;
  border: none;
  height: 2rem;
  width: 11rem;
  border-radius: 0.3rem;
  background-color: #263585;
  color: white;
  font-size: 0.7rem;
  padding: 0 1rem;
}
/*# sourceMappingURL=screen.css.map */