html {
    font-family: $font-main;
    font-size: map-get($fontSize, textMain);
    background-color: map-get($colors, backgroundLightSecondary);
}

body {
    max-width: map-get($screenSize, smartphoneMaxScreenSize);
    background-color: map-get($colors, backgroundLightMain);
    margin: 0px auto;
}

h1, h2 {
    font-size: map-get($fontSize, h1);
    color: map-get($colors, backgroundDarkSecondary);
}

h3 {
    font-size: map-get($fontSize, h3);
    color: map-get($colors, backgroundDarkSecondary);
}

.fas {
    color: map-get($colors, textOnLight);
}

time {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    body {
        max-width: map-get($screenSize, tabletMinScreenSize);
        background-color: map-get($colors, backgroundLightMain);
        margin: 0px auto;
    }
}

@media screen and (min-width: 930px) {
    body {
        max-width: map-get($screenSize, laptopMaxScreenSize);
        background-color: map-get($colors, backgroundLightMain);
        margin: 0px auto;
    }
}