html {
    font-family: $font-main;
    font-size: map-get($fontSize, textMain);
    background-color: map-get($colors, backgroundLightSecondary);
}

body {
    width: 100%;
    background-color: map-get($colors, backgroundLightMain);
    margin: 0px auto;
}

h1, h2 {
    font-size: map-get($fontSize, h1);
    color: map-get($colors, backgroundDarkSecondary);
}

h3 {
    font-size: map-get($fontSize, h3);
    color: map-get($colors, backgroundDarkSecondary);
}

.fas {
    color: map-get($colors, textOnLight);
}

time {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 100%;
    }
}

@media screen and (min-width: 930px) {
    body {
        max-width: map-get($screenSize, laptopMaxScreenSize);
    }
}