$font-main : calibri, Lucia Grande, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;

$fontSize: (
    textMain: 16px,
    h1: 1rem, 
    h2: 1rem,
    h3: 0.9rem,
);

$colors: (
    backgroundDarkMain: #263585,
    backgroundDarkSecondary: #216eb8,
    backgroundLightMain: whitesmoke,
    backgroundLightSecondary: white,
    decoration: #e37823,
    textOnLight: white,
    textOnDark: #263585, 
    textOnMedium: rgb(145, 142, 142),
    textOnVeryLight: rgb(58, 57, 57),
    gradient: linear-gradient(45deg, #216eb8, #263585),
);

$screenSize: (
    smartphoneMaxScreenSize: 330px,
    tabletMinScreenSize: 600px,
    laptopMinScreenSize: 980px,
    laptopMaxScreenSize: 1100px,
);

@mixin flex-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}