// button Primary
.m-main-form-buttons {
    display: flex;
    flex-direction: column;
}

.m-main-form-button, .m-main-form-buttonSecondary, .m-main-form-buttonThirdary, .m-main-form-button-send {
    margin: 1rem 1rem 1rem 0;
    border: none;
    height: 2rem;
    border-radius: 0.3rem;
    background-color: map-get($colors, textOnMedium);
    color: map-get($colors, textOnLight);
    font-size: 0.7rem;
    padding: 0 1rem;
}

.m-main-form-button-send {
    margin: 1rem;
    background-color: map-get($colors, backgroundDarkSecondary);
}

.m-main-product-button {
    margin: 1rem;
    border: none;
    height: 2rem;
    border-radius: 0.3rem;
    background-color: map-get($colors, backgroundDarkMain);
    color: map-get($colors, textOnLight);
    font-size: 0.7rem;
    padding: 0 1rem;

    .fa-shopping-cart, .fa-save {
        padding: 0 1rem 0 0;
    }
}

.fa-check {
    color: map-get($colors, textOnLight);
    margin: 0 1rem 0 0;
}

.m-main-button-trash {
    background-color: map-get($colors, backgroundLightMain);
    border: 1px solid grey;
    border-radius: 15%;
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;

    .fa-trash {
        color: map-get($colors, textOnVeryLight);
        padding: 0 auto;
    }
}

// button Secondary
.m-main-form-buttonSecondary {
    background-color: map-get($colors, backgroundDarkMain);
}

// button Thirdary
.m-main-form-buttonThirdary {
    background-color: map-get($colors, backgroundLightSecondary);
    color: map-get($colors, textOnMedium);
    border: solid grey 1px;
}

.m-main-form-button-sendOrder {
    margin: 0 0 0 auto;
    border: none;
    height: 2rem;
    width: 11rem;
    border-radius: 0.3rem;
    background-color: map-get($colors, backgroundDarkMain);
    color: map-get($colors, textOnLight);
    font-size: 0.7rem;
    padding: 0 1rem;
}