// Menu used for the mobile version of the website 
.l-nav-tree {
    position: absolute;
    left: -150vw;
    top: 0;
    transition-duration: 1s;
    width: 100vw;
    height: 100vh;
    background: map-get($colors, gradient);
    z-index: 2;

    .trigger:checked ~ & {
        left: 0;
      }
    
    li {
        list-style: none;
    }
    
    ul {
        padding: 4rem 0;
    }

    a {
        color: map-get($colors, textOnLight);
        text-decoration: none;
        display: block;
        padding: 0.5rem;
        text-align: center;
        position: relative;

        &::after {
            content:"";
            position: absolute;
            width: 100%;
            background-color: map-get($colors, decoration);
            height: 2px;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: opacity 150ms linear;
        }

        &:hover {
            color: map-get($colors, decoration);
            
            &::after {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .l-nav-tree {
        position: relative;
        left: 0vw;
        top: 0;
        transition-duration: 0s;
        width: 100%;
        height: auto;
        background: none;
        z-index: 0;

        ul {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 0;
            margin: 0;
        }

        a {
            padding: 1rem;
        }
    }
}