// Menu used for the mobile version of the website 
.l-nav-tree {
    position: absolute;
    left: -150vw;
    top: 0;
    transition-duration: 1s;
    width: 100vw;
    height: 100vh;
    background: map-get($colors, gradient);

    .trigger:checked ~ & {
        left: 0;
      }
    
    li {
        list-style: none;
    }
    
    ul {
        padding: 4rem 0;
    }

    a {
        color: map-get($colors, textOnLight);
        text-decoration: none;
        display: block;
        margin: 0.5rem;
        text-align: center;
        margin: 2rem;
    }

    a:hover {
        color: map-get($colors, decoration);
    }
}
  