header {
    background: map-get($colors, gradient);
    padding-bottom: 1rem;
}

.l-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: map-get($screenSize, laptopMaxScreenSize);
    margin: 0 auto;
}

// logo
.l-nav-logo-wrapper {
    background-color: map-get($colors, backgroundLightSecondary);
    border-radius: 0 0 10% 10%;
    height: 3.5rem;
    width: 5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-nav-logo {
    background-image: url("../images/inforshop.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 4rem;
}

// burger
.l-nav-menu-wrapper {
    background-color: map-get($colors, backgroundDarkMain);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0 0 0 45%;
    display: flex;
    justify-content: center;    
    align-items: center;
    cursor: pointer;

    .trigger:checked ~ & span:first-child {
        transform: rotate(45deg);
        top: 8px;
        position: relative;
        transition: 1s;
    }

    .trigger:checked ~ & span:last-child {
        transform: rotate(-45deg);
        top: -8px;
        position: relative;
        transition: 1s;
    }
    
    .trigger:checked ~ & span:nth-child(2) {
        opacity: 0;
        position: relative;
    }

    :hover ~ & span {
        background: map-get($colors, backgroundLightSecondary);
    }
}

.l-nav-menu {
    position: relative;
}

.l-nav-burger {
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    span {
        height: 3px;
        width: 1.5rem;
        margin: 0.15rem;
        background: map-get($colors, decoration);
    }
}

.l-nav-menu-label {
    display: block;
    height: 3rem;
    width: 100%;
    position: absolute;
    z-index: 9999;
}

.trigger {
    position: absolute;
    left: -150vw;
  }

// account icons
.l-nav-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    p {
        font-size: 0.7rem;
        margin: 0;
    }
}

.l-nav-icons-account, .l-nav-icons-cart {
    color: map-get($colors, textOnLight);
    font-size: 1.5rem;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l-nav-icons-cart {
    position: relative;
}

.l-nav-icons-cart::before {
    content: "0";
    height: 1.25rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: map-get($colors, decoration);
    font-size: 1rem;
    position: absolute;
    top: -0.7rem;
    left: 1rem;
    padding: 0 0 0 0.3rem;
}

// search
.l-nav-search {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.fa-search {
    color: map-get($colors, textOnMedium);
}

.l-nav-search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    input {
        border: 0;
        color: map-get($colors, textOnMedium);
        width: 100%;
        background-color: map-get($colors, backgroundLightSecondary);
        padding: 0.5rem;
        cursor: pointer;
    }

    button {
        position: absolute;
        z-index: 1;
        border: none;
        background-color: transparent;
        top: 0.5rem;
        right: 0.5rem;
    }
}

/* media queries Tablet Version */
@media screen and (min-width: 600px) {
    header {
        padding-bottom: 0;
    }

    .l-nav {
        justify-content: start;
        align-items: flex-start;
    }

    .l-nav-top {
        order: 4;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }
    
    // logo
    .l-nav-logo-wrapper {
        height: 5rem;
        width: 7rem;
    }
    
    .l-nav-logo {
        height: 5rem;
        width: 6rem;
        margin-top: 1rem;
        order: 1;
    }
    
    // account icons
    .l-nav-icons {
        order: 3;
        margin: 0 1rem;
        width: auto;
    
        p {
            font-size: 1rem;
        }
    }

    // search
    .l-nav-search {
        order: 2;
        width: auto;
        flex: 1 1 auto;
    }
    
    .l-nav-search-wrapper input,i {
        margin: 0 1rem;
    }

    // burger
    .l-nav-menu-wrapper {
        display: none;
    }
}
