// Ariane line
.l-main-ariane {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.l-main-ariane-block, .l-main-ariane-icon {
    background-color: map-get($colors, backgroundLightSecondary);
    height: 2rem;
    width: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fa-home {
    color: map-get($colors, textOnMedium);
}

.l-main-ariane-block p {
    color: map-get($colors, textOnMedium);
    font-size: 1rem;
    margin: auto;
}

.l-main-ariane-sign span {
    color: map-get($colors, decoration);
    font-size: 1rem;
    margin: 0 1rem;
}

//Ariane Line for product navigation
.l-main-pageIndex {
    padding: 1rem;   
    
    span {
        background-color: map-get($colors, backgroundLightSecondary);
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.1rem 0.4rem;
        margin: 0.1rem;
        border: solid 1px map-get($colors, backgroundDarkSecondary);
        color: map-get($colors, backgroundDarkSecondary);
    }

    .l-main-pageIndex-isActive {
        border: solid 1px map-get($colors, decoration);
        color: map-get($colors, decoration);
    }
}

// registration form
.l-main-form, .l-main-block {
    background-color: map-get($colors, backgroundLightSecondary);
    margin: 1rem;
    padding: 1rem 0 1rem 1rem;
    color: map-get($colors, backgroundDarkSecondary);

    h1 {
        padding: 1rem;
    }
}

.l-main-form-block {
    label {
        display: block;
    }

    input {
        border: 0;
        border-bottom: 1px solid #263585;
        width: 95%;
        padding: 0;
        margin: 0 0 1rem 0;
        color: map-get($colors, textOnMedium);
    }

    i {
        width: 1rem;
        height: 1rem;
        color: map-get($colors, backgroundDarkSecondary);
        padding: 0;
        margin: 0 0 0 1rem;
    }
}

.l-main-form-block-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.l-main-form-check {
    display: flex;
    justify-content: flex-start;

    label {
        color: map-get($colors, textOnMedium);
    }
}

.l-main-form-range {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    input{
        width: 100%;
    }
}

// Products & fiche
.l-main-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.l-main-productFiche {
    background-color: map-get($colors, backgroundLightSecondary);
    margin: 1rem;
    color: map-get($colors, backgroundDarkSecondary);

    img {
        width: 100%;
    }
}

.l-main-productFiche-features{
    padding: 0 1rem;

    h4 {
        margin: 0;
    }

    p {
        color: map-get($colors, textOnMedium);
    }
}

.l-main-product-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        color: map-get($colors, decoration);
        font-weight: bold;
    }
}

// Contact block
.l-main-block {
    padding: 1rem;

    p {
        color: map-get($colors, textOnMedium);
        font-size: map-get($fontSize, h3);
    }

    em {
        font-weight: bold;
    }
}