.l-main {
    max-width: map-get($screenSize, laptopMaxScreenSize);
    margin: 0 auto;
    padding: 2rem;
}

// Ariane line
.l-main-ariane {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.l-main-ariane-block, .l-main-ariane-icon {
    background-color: map-get($colors, backgroundLightSecondary);
    height: 2rem;
    width: auto;
    padding: 0 1rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 1px 1px map-get($colors, shadow);
}

.fa-home {
    color: map-get($colors, textOnMedium);
    padding: 0.5rem;
}

.l-main-ariane-block p {
    color: map-get($colors, textOnMedium);
    font-size: 1rem;
    margin: auto;
}

.l-main-ariane-sign span {
    color: map-get($colors, decoration);
    font-size: 1rem;
    margin: 0 1rem;
}

//Map
.l-main-map iframe {
        width: 100%;
}

//Ariane Line for product navigation
.l-main-pageIndex {
    padding: 1rem;   
    
    span {
        background-color: map-get($colors, backgroundLightSecondary);
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.1rem 0.4rem;
        margin: 0.1rem;
        border: solid 1px map-get($colors, backgroundDarkSecondary);
        color: map-get($colors, backgroundDarkSecondary);
    }

    .l-main-pageIndex-isActive {
        border: solid 1px map-get($colors, decoration);
        color: map-get($colors, decoration);
    }
}

// registration form
.l-main-superTitle{
    h1 {
    padding: 1rem;
    }
}

.l-main-form {
    box-shadow: 1px 1px 1px map-get($colors, shadow);

}

.l-main-form, .l-main-bloc {
    background-color: map-get($colors, backgroundLightSecondary);
    margin: 1rem 0;
    padding: 1rem;
}

.l-main-form-date {
    margin: 2rem 1rem 0 2rem;
    font-size: 0.9rem;
    text-align: end;

    p {
        color: map-get($colors, textOnMedium);        
    }

    time {
        color: map-get($colors, backgroundDarkSecondary);
    }
}

.l-main-form-block {   
    background-color: map-get($colors, backgroundLightSecondary);
    color: map-get($colors, backgroundDarkSecondary);
    padding: 1rem 0;
    position: relative;
    margin: 0 1rem 0 0;

    .l-main-form-block-label {
        display: none;
    }

    label {
        display: block;
    }

    input {
        border: 0;
        width: 100%;
        padding: 0 1rem;
        margin: 0;
        color: map-get($colors, textOnMedium);
        display: block;
        outline: none;
    }

    i {
        width: 1rem;
        height: 1rem;
        color: map-get($colors, backgroundDarkSecondary);
        padding: 0;
        margin: 0 0 0 1rem;
    }

    .fa-trash{
        border: 1px solid black;
        border-radius: 15%;
        padding: 0.2rem;
        background-color: map-get($colors, backgroundLightMain);
        color: map-get($colors, textOnVeryLight);
    }

     > div::before {
        display: block;
        content: '';
        height: 1px;
        width: 99%;
        background: map-get($colors, backgroundDarkSecondary);
        position: absolute;
        bottom: 1rem;
        left: 0rem;
    }
}

.l-main-form-block-icon, .l-main-form-block-connexion, .l-main-form-block-icon-commande {
    padding: 1rem 0;
    position: relative;
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    
    div::before {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background: map-get($colors, textOnMedium);
        position: absolute;
        bottom: 0rem;
        left: 0rem;
    }

    input {
        border: 0px;
        color: map-get($colors, textOnMedium);
        width: 100%;
        padding-right: 2rem;
        outline: 0;
    }

    i {
        padding: 0 1rem 0 0;
        position: absolute;
        right: 0;
    }
}

.l-main-form-check {
    display: flex;
    justify-content: flex-start;

    label {
        color: map-get($colors, textOnMedium);
    }
}

.l-main-form-range {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    input{
        width: 100%;
    }
}

// Products & fiche
.l-main-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.l-main-productFiche {
    background-color: map-get($colors, backgroundLightSecondary);
    color: map-get($colors, backgroundDarkSecondary);
    box-shadow: 1px 1px 1px map-get($colors, shadow);
    margin: 0.5rem 0;

    img {
        width: 100%;
    }
}

.l-main-productFiche-features{
    padding: 0 1rem;

    h4 {
        margin: 0;
    }

    p {
        color: map-get($colors, textOnMedium);
    }
}

.l-main-product-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        color: map-get($colors, decoration);
        font-weight: bold;
    }
}

// Contact block
.l-main-block {
    background-color: map-get($colors, backgroundLightSecondary);
    box-shadow: 1px 1px 1px map-get($colors, shadow);
    padding: 1rem;
    margin: 1rem 0;

    p {
        color: map-get($colors, textOnMedium);
        font-size: map-get($fontSize, h3);
    }

    em {
        font-weight: bold;
    }
}

// Panier
.l-main-form-totalPrice {
    text-align: end;
    padding: 0 1rem;

    .l-main-form-totalPrice-label{
        color: map-get($colors, textOnMedium);
        position: relative;
    }

    ::before {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background: map-get($colors, textOnMedium);
        position: absolute;
        bottom: -0.5rem;
        left: 0rem;
    }   

    .l-main-form-totalPrice-amount{
        font-weight: bold;
        position: relative;
    }

    ::before {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background: map-get($colors, backgroundLightMain);
        position: absolute;
        bottom: -0.5rem;
        left: 0rem;
    }
}

// Product Description
.l-main-form-productDescription-image {

    img {
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
    }
}

.l-main-form-productDescription-text, .l-main-form-productDescription-form {

    p {
        color: map-get($colors, textOnMedium);
    }

    p:first-child {
        color: map-get($colors, decoration);
        font-weight: bold;
        padding: 2rem 0 0 0;
    }
}

.l-main-form-productDescription-order {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .l-main-form-block{
        width: 25%;
    }
}

// welcome page
.l-main-bloc {
    height: auto;
}

.l-aside-welcomeimage {
    background: url("../images/InforShop_Store_small.jpg");
    width: auto;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.l-main-productTeaser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    width: 100%;

    .l-nav-productTeaser-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        i {
            color: map-get($colors, textOnVeryLight);
            font-size: 2rem;   
        }

        p {
            color: map-get($colors, decoration);
        }
}

.l-main-productPromo-image {
    max-width: 330px;
    width: 100%;
}

.l-main-bloc-promo-wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;

    .l-main-bloc-promo2 {
        display: none;
    }
    
    .l-main-bloc-promo3 {
        display: none;
    }
}

/* media queries tablet & laptop version */
@media screen and (min-width: 600px) {
    .l-nav-menu {
      max-width: 1130px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .l-aside-welcomeimage {
        background: url("../images/InforShop_Store_large.jpg");
        background-size: cover;
    }

    .l-main-home {
        display: flex;

        .l-main-bloc {
            margin: 0 0 0 2rem;
            width: 70%;
        }

        .l-aside-welcomeimage {
            width: 30%;
        }
    }

    .l-main-form-commande {
        display: flex;
        flex-wrap: wrap;

        .l-main-form-block {
            width: 50%;
            margin: 0;
            
            .l-main-form-block-label {
                display: block;
            }
        }
    }

    .l-main-form-paiement {
        width: 50%;

        .fa-credit-card {
            margin: 0;
            padding: 0;
        }
    }

    .l-main-contact-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .l-main-form {
            width: 70%;
        }

        .l-main-block {
            width: 30%;
        }
    }
    // fiche produit
    .l-main-product-superWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .l-main-form {
        width: 30%;
        margin: 0;
        height: 35rem;
    }

    .l-main-product {
        width: 70%;
    }

    .l-main-product-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .l-main-productFiche {
        margin: 0.2rem;
        width: 48%;
    }

    .l-main-form-block-icon, .l-main-form-block-connexion {
        
        label {
            padding: 0 0 0 2rem;
        }
    
        i {
            margin: 0;
            left: 0;
        }
    }

    .l-main-bloc-promo-wrapper {
        .l-main-bloc-promo2 {
            display: block;
        }
    }

    .l-main-form-block-groupPer2 {
        display: flex;
        justify-content: space-between;
    }

    .l-main-form-productDescription-wrapper {
        display: flex;
        justify-content: space-between;

        .l-main-form-productDescription-image {
            width: 40%;
        }

        .l-main-form-productDescription-text-wrapper {
            width: 60%;
        }

        .l-main-form-productDescription-form {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                padding: 0;
            }

            .l-main-form-block {
                margin: 0;
            }

            .l-main-form-productDescription-order {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    
    .l-main-bloc-promo-wrapper {
        .l-main-bloc-promo3 {
            display: block;
        }
    }

    // fiche produit
    .l-main-form {
        width: 25%;
        margin: 0;
        height: 35rem;
    }

    .l-main-product {
        width: 75%;
    }

    .l-main-productFiche {
        width: 32%;
    }
}